@import "tailwindcss";

@plugin "daisyui" {
  themes: network-theme --default;
}

@plugin "daisyui/theme" {
  name: "network-theme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: var(--color-sky-50);
  --color-base-200: var(--color-sky-100);
  --color-base-300: var(--color-sky-200);
  --color-base-content: var(--color-sky-800);
  --color-primary: var(--color-sky-500);
  --color-primary-content: var(--color-white);
  --color-secondary: var(--color-blue-400);
  --color-secondary-content: var(--color-blue-800);
  --color-accent: var(--color-cyan-400);
  --color-accent-content: var(--color-cyan-800);
  --color-neutral: var(--color-slate-700);
  --color-neutral-content: var(--color-slate-50);
  --color-info: var(--color-sky-400);
  --color-info-content: var(--color-sky-800);
  --color-success: var(--color-emerald-400);
  --color-success-content: var(--color-emerald-800);
  --color-warning: var(--color-amber-400);
  --color-warning-content: var(--color-amber-800);
  --color-error: var(--color-rose-500);
  --color-error-content: var(--color-rose-50);

  --border: 0.5px;
  --depth: 0;
  --noise: 0;
  --radius-box: 1rem;
  --radius-field: 0.5rem;
  --radius-selector: 0.5rem;
  --size-field: 0.25rem;
  --size-selector: 0.25rem;
}

@theme {
  --font-sans:
    Iosevka, Maple Mono, Menlo, Cascadia Code, Sarasa Gothic SC, PingFang SC,
    Microsoft YaHei;

  --font-mono:
    Iosevka, Maple Mono, Menlo, Cascadia Code, Sarasa Gothic SC, PingFang SC,
    Microsoft YaHei;
}
